.inputstable td
{
padding: 5px 5px 5px 5px;
}
#hover{
position:fixed;
background:#000;
width:100%;
height:100%;
opacity: .6;
top:0;
bottom:0;
left:0;
right:0;
}

.popup
{
position:absolute;
width:800px;
background:#fff;
left:30%;
top:40%;
border-radius:5px;
margin-left:-120px; /* width/2 + padding-left */
margin-top:-150px; /* height/2 + padding-top */
text-align:center;
box-shadow:0 0 10px 0 #000;
min-height:420px;
#tweet{
color: #4099FF;
}
}
.popupclose
{
position:absolute;
background:black;
color:white;
right:-15px;
top:-15px;
border-radius:50%;
width:30px;
height:30px;
line-height:30px;
text-align:center;
font-size:8px;
font-weight:bold;
font-family:'Arial Black', Arial, sans-serif;
cursor:pointer;
box-shadow:0 0 10px 0 #000;
}
.students-table
{
border-collapse: collapse;
}
.students-table th
{
font-weight: bold;
vertical-align: middle;
}
.students-table td, .students-table th
{
padding: 5px;
line-height: 20px;
text-align: center;
border: 1px solid #ddd;
width:100px;
font-size:13px;
}
.students-table tr:nth-child(odd)
{
background: #f9f9f9;
}
.students-table tr:nth-child(even)
{
background: #ffffff;
}
.divcategotyexamscls
{
min-height: 200px;
border: 1px solid #d5d5d5;
border-radius: 4px;
padding: 5px;
width: 250px;
}
.btnshowhidecls
{
font-family: Georgia; 
font-size: 1em;
background: #EEE;
background-image: -webkit-linear-gradient(top, #eee 40%, #ddd 100%);
border-radius: 5px;
border: 1px solid #BDBDBD;
padding: 1px 10px 1px 10px;
font-size: 0.9em;
color: #333;
text-shadow: 0px 1px 0px white;
-moz-user-select: none;
-khtml-user-select: none;
margin-left:30px;
}
.img_btn{
 
   font-family: calibri;
   padding: 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   text-align: center;
   background-color: #DDD;
   cursor:pointer;
  }
  .img_btn:hover
  {
   background-color: #D0D0D0;
      
  }
  
#hover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#hover_image{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.popup{
  position:absolute;
  width:600px;
 /* height:280px;*/
  background:#fff;
  left:50%;
  top:50%;
  border-radius:5px;
  margin-left:-320px; /* width/2 + padding-left */
  margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #000;
}
  #tweet{
    color: #4099FF;
  }


.popupclose{
  position:absolute;
  background:black;
  color:white;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
}