<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"></customErrors>
    <httpRuntime maxUrlLength="2097151" maxQueryStringLength="2097151"/>
    <compilation debug="true" targetFramework="4.0">

    </compilation>
  </system.web>
  <!--<system.web>
    <customErrors mode="RemoteOnly"
                  defaultRedirect="OOPS.aspx" />
                  
  </system.web>-->

  <appSettings>
    <add key="FilePath" value="~/Userfiles/"/>
    <!--Mail Settings-->
    <add key="Host" value="webmail.vyshnavi.in" />
    <add key="EMailId" value="naveen@vyshnavi.in" />
    <add key="Password" value="Vyshnavi@321" />
  </appSettings>
  <connectionStrings>
    <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="EmployeeManagementHandler" preCondition="integratedMode"  verb="GET,HEAD,POST" resourceType="Unspecified" path="EmployeeManagementHandler.axd"/>
    </handlers>
  </system.webServer>
  <system.web>
    <sessionState timeout="60"></sessionState>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="EmployeeManagementHandler.axd" validate="false" type="EmployeeManagementHandler"/>
    </httpHandlers>
  </system.web>
</configuration>
